<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="/flask_app/static/css/bootstrap_css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap_css/bootstrap.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/flask_app/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="background_grey">
<div class="container" >
    <div class="row nav pt-3 pb-3 color-white d-flex" id="nav_bar">
        <div class="col fs-5 border-end border-5 border-white d-flex justify-content-start ">
            <div><a href="/dashboard">iSport</a></div>
        </div>
        <div class="col fs-5 border-end border-5 border-white d-flex justify-content-center" >
            <div><a href="/event/new" class="fs-5">New Event</a></div>
        </div>
        <div class="col fs-5 border-end border-5 border-white d-flex justify-content-center">
            <div><a href="/event/search">Search</a></div>
        </div>
        <div class="col fs-5 d-flex d-flex justify-content-center">
            <div><a href="/user/{{user.id}}">My Account</a></div>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                                {% if messages %}                            <!-- check if there are any messages -->
                                    {% for message in messages %}            <!-- loop through the messages -->
                                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
    <div class="row justify-content-center" id="main_body">
        <div class="col-8"> 
            <div class="event_box_wrapper row">
                <div class="event_box date col"></div>
                <div class="event_box info col green_border"></div>
                <div class="event_box_tab_wrapper row red_border">
                    <div class="event_box_tab event_date_tab red_border col "></div>
                    <div class="event_box_tab event_info_tab red_border col"></div>
                    <div class="event_box_tab event_users_tab red_border col"></div>
                    <div class="event_box_tab event_location_tab red_border col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/flask_app/static/js/bootstrap_js/bootstrap.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap_js/bootstrap.js') }}"></script>
<script src="/flask_app/static/js/login_reg_script.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/login_reg_script.js') }}"></script>
</body>
</html>