<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Wall Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row" id="nav_bar">
        <div class="col .d-flex flow"><h2>Welcome, {{user.first_name}}</h2></div>
        <div class="col">
            <div class="row">
                <div class="col"><a href="/recipes/edit/{{recipe.id}}">Edit recipe</a></div>
                <div class="col"><a href="/dashboard">Dashboard</a></div>

                <div class="col"><a href="logout">Log Out</a></div>
            </div>
        </div>
    </div>
    <div class="row" id="main_body">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                            {% if messages %}                            <!-- check if there are any messages -->
                                {% for message in messages %}            <!-- loop through the messages -->
                                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
        <div class="col">
            <h1>{{recipe.name}}</h1>
            <div class="row">
                <div class="col">Description:</div>
                <div class="col">{{recipe.description}}</div>
            </div>
            <div class="row">
                <div class="col">Under 30 Minutes:</div>
                <div class="col">{{recipe.true_false()}}</div>
            </div>
            <div class="row">
                <div class="col">Instructions:</div>
                <div class="col">{{recipe.directions}}</div>
            </div>
            <div class="row">
                <div class="col">Date Made:</div>
                <div class="col">{{recipe.made}}</div>
            </div>
        </div>
        
    </div>
</div>
</body>
</html>