<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
</head>
<body>
    <div class="container">
        
        <div>
            <h1>User {{user["id"]}}</h1>
            <p><a href='/users'>Home</a></p>
        </div >
        <div class="container">
            <p>Full Name: {{user.fullname()}} </p>
            <p>Email:  {{user["email"]}}</p>
            <p>Created On: {{user["created_at"]}}</p>
            <p>Last Updated On: {{user["created_at"]}}</p>
        </div>
        <div>
            <a href="/users/{{user['id']}}/edit">Edit</a>  |  <a href="/users/{{user['id']}}/delete" >Delete</a>
        </div>
    </div>
</body>
</html>