<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Counter</title>
</head>
<body>
  <h1>Counter</h1>
  <p>{{session["count"]}} times</p>
  <p>This page has been viewed {{session["views"]}} times</p>


  <form action='/increment' method='POST'>
    <label for='increment'>What increment would you like to use? </label>
    <input type='text' name='increment'>
    <input type='submit' value = 'Send'>
    
</form>


  <a href="/reset" class="btn btn-primary">Reset</a>
  <a href="/" class="btn btn-primary">Increase</a>

</form>

</body>
</html>
