<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess</p>
    <form action='/guess' method='POST'>
        <label for='guess'>Guess</label>
        <input type='text' name='guess'>
        <input type='submit' value = 'Submit'>
    

    {% if "guess" in session %}
        {% if  session["guess"]  >  session["num"]  %}
            <p>Too High!</p>
        {% elif  session["guess"]  <  session["num"]  %}
            <p>Too Low!</p>
        {% else %}
            <p>You are correct!</p>
            <a href="/reset" class="btn btn-primary">Play Again?</a>
            
            {% endif %}
    {% endif %}
    

    <p>{{session["list"]}}</p>
</body>
</html>